<!DOCTYPE html>
<html lang="en">
<head>
    @inject IConfiguration Configuration
    <meta name="api-base-url" content="@Configuration["ApiSettings:BaseUrl"]" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Announcement Board</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/AnnouncementBoardMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Announcement" asp-action="Index">
                    <i class="fas fa-bullhorn me-2"></i>Announcement Board
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Announcement" asp-action="Index">
                                <i class="fas fa-home me-1"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Announcement" asp-action="Filter">
                                <i class="fas fa-filter me-1"></i> Filter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Announcement" asp-action="Create">
                                <i class="fas fa-plus me-1"></i> Create
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="d-flex justify-content-end align-items-center">
                <a href="https://github.com/headhunterjr/AnnouncementBoard" class="text-decoration-none">
                    https://github.com/headhunterjr/AnnouncementBoard
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>